<div class="wrapper">
<div class="container">
    <form (ngSubmit)="onSubmit()" #contactForm="ngForm">
        <label for="firstname">First Name</label>
        <input type="text" id="fname" name="firstname" ngModel placeholder="Your First name...." required>
  
        <label for="lastname">Last Name</label>
        <input type="text" id="lname" name="lastname" ngModel placeholder="Your last name...." required>
  
        <label for="Country">Country</label>
        <input type="text" id="Country" name="Country" ngModel placeholder="Your Country Name" required>
  
        <label for="subject">Subject</label>
        <textarea id="subject" name="subject" ngModel placeholder="Write something...." style="height:200px" required></textarea>
  
        <input type="submit" value="Submit">
    </form>
    <div *ngIf="message" class="message">{{ message }}</div>
  </div>
  </div>
