<h1>360° Video </h1>
<div class="destinations">
 
    <a href="https://youtu.be/WpoD2TMEqiM?si=WoBUSnUjJXFbu7g_" target="_blank">
      <div class="destination-card">
        <img src="../../../assets/images/india gate.jpeg" alt="">
        <div class="destination-info">
          <h3>India Gate</h3>
        </div>
      </div>
    </a>
  
    <a href="https://youtu.be/WjLUIqy9iro?si=0O33aqSM5M7ELP5v" target="_blank">
      <div class="destination-card">
        <img src="../../../assets/images/Download Wallpaper 1080x1920 Taj mahal, Agra, India, Mausoleum, Mosque Sony Xperia Z1, ZL, Z, Samsung Galaxy S4, HTC One HD Background.jpeg" alt="">
        <div class="destination-info">
          <h3>Taj Mahal</h3>
        </div>
      </div>
    </a>
  
    <a href="https://youtu.be/dogNEVYgvX8?si=LtmjvFuynoc1pF4E" target="_blank">
      <div class="destination-card">
        <img src="../../../assets/images/iduki.jpeg" alt="">
        <div class="destination-info">
          <h3>Idukki</h3>
        </div>
      </div>
    </a>
  
    <a href="https://youtu.be/oeyHkfqrrsg?si=2XgBLC5eLwG9SdNN" target="_blank">
      <div class="destination-card">
        <img src="../../../assets/images/BEKAL FORT - KERALA, INDIA.jpeg" alt="">
        <div class="destination-info">
          <h3>Bekal Fort, Kerala</h3>
        </div>
      </div>
    </a>
  
    <a href="https://youtu.be/LIEuFkDZenI?si=rmXU0Tpmvshzsgp7" target="_blank">
      <div class="destination-card">
        <img src="../../../assets/images/Ranipuram-Hügel in Kasaragod _ Kerala Tourismus.jpeg" alt="">
        <div class="destination-info">
          <h3>Ranipuram Hills, Kerala</h3>
        </div>
      </div>
    </a>
  
    <a href="https://youtu.be/fEq4Qxblzsw?si=QtqXR7V4CyfgRNfg" target="_blank">
      <div class="destination-card">
        <img src="../../../assets/images/Hampi.jpeg" alt="">
        <div class="destination-info">
          <h3>Hampi</h3>
        </div>
      </div>
    </a>
  
    <a href="https://youtu.be/WXBrwaIirCw?si=b91w36_E-jAaAwmN" target="_blank">
      <div class="destination-card">
        <img src="../../../assets/images/Darjeeling.jpeg" alt="">
        <div class="destination-info">
          <h3>Darjeeling</h3>
        </div>
      </div>
    </a>
    <a href="https://youtu.be/dB97KR5FQNQ?si=0fI1BN0dQW8wBuZp" target="_blank">
      <div class="destination-card">
        <img src="../../../assets/images/Velakkani.jpeg" alt="">
        <div class="destination-info">
          <h3>Velankanni</h3>
        </div>
      </div>
    </a>
    <a href="https://youtu.be/XtrC3hVnmE8?si=mYx1dJE9_oKeyCPR" target="_blank">
      <div class="destination-card">
        <img src="../../../assets/images/Jama Masjid.jpeg" alt="">
        <div class="destination-info">
          <h3>Jama masjid delhi</h3>
        </div>
      </div>
    </a>
    <a href="https://youtu.be/XvG6V27G6OE?si=rkH2lHq05dMIskBp" target="_blank">
      <div class="destination-card">
        <img src="../../../assets/images/Hindu Cosmos — Hawa Mahal_ Pink city Jaipur, Rajasthan, India___.jpeg" alt="">
        <div class="destination-info">
          <h3>Hawa mahal,jaipur</h3>
        </div>
      </div>
    </a>
    <a href="https://youtu.be/gyU--VHlMo4?si=f_0DGnSbuS9zyJhv" target="_blank">
      <div class="destination-card">
        <img src="../../../assets/images/Visit Hyderabad.jpeg" alt="">
        <div class="destination-info">
          <h3>Charminar</h3>
        </div>
      </div>
    </a>
    
  </div>