<h1>Photogallery</h1>
<div class="destinations">
  <div class="destination-card">
      <img src="../../../assets/images/india gate.jpeg" alt="India Gate ">
      <div class="destination-info">
          <h3>India Gate</h3>
      </div>
  </div>

  <div class="destination-card">
      <img src="../../../assets/images/Taj Mahal.jpeg
      " alt="Taj Mahal">
      <div class="destination-info">
          <h3>Taj Mahal</h3>
      </div>
  </div>

  <div class="destination-card">
      <img src="../../../assets/images/kashmir.jpeg" alt="Taj Kashmir">
      <div class="destination-info">
          <h3>Kashmir</h3>
      </div>
  </div>
  <div class="destination-card">
      <img src="../../../assets/images/Ladakh.jpeg" alt="Ladakh">
      <div class="destination-info">
          <h3>Ladakh</h3>
      </div>
  </div>
  <div class="destination-card">
      <img src="../../../assets/images/The most beautiful Islands in Andaman and Nicobar.jpeg" alt="Andaman">
      <div class="destination-info">
          <h3>Andaman</h3>
      </div>
  </div>
  <div class="destination-card">
      <img src="../../../assets/images/Manali.jpeg" alt="Manali">
      <div class="destination-info">
          <h3>Manali</h3>
      </div>
  </div>
  <div class="destination-card">
      <img src="../../../assets/images/Houseboat.jpeg" alt="Alleppy">
      <div class="destination-info">
          <h3>Alleppy</h3>
      </div>
  </div>
  <div class="destination-card">
      <img src="../../../assets/images/15 Pictures That Will Make You Plan A Trip To Gulmarg This Winter - Gyawun (1).jpeg" alt="Gulmarg">
      <div class="destination-info">
          <h3>Gulmarg</h3>
      </div>
  </div>
  <div class="destination-card">
      <img src="../../../assets/images/Darjeeling.jpeg" alt="Dargeeling">
      <div class="destination-info">
          <h3>Dargeeling</h3>
      </div>
  </div>
  <div class="destination-card">
      <img src="../../../assets/images/THE ST_ REGIS GOA RESORT - Updated 2023 Prices &  Hotel Reviews (Cavelossim).jpeg" alt="Goa">
      <div class="destination-info">
          <h3>Goa</h3>
      </div>
  </div>
  <div class="destination-card">
      <img src="../../../assets/images/Experience the enchanting beauty of Udaipur.jpeg" alt="Udaipur">
      <div class="destination-info">
          <h3>Udaipur</h3>
      </div>
  </div>
  <div class="destination-card">
      <img src="../../../assets/images/Hindu Cosmos — Hawa Mahal_ Pink city Jaipur, Rajasthan, India___.jpeg" alt="Hawa Mahal">
      <div class="destination-info">
          <h3>Hawa Mahal</h3>
      </div>
  </div>
  <div class="destination-card">
      <img src="../../../assets/images/thanjavur big temple.jpeg" alt="Thanjavur">
      <div class="destination-info">
        <h3>Thanjavur</h3>
      </div>
    </div>
  <div class="destination-card">
      <img src="../../../assets/images/Munnar.jpeg" alt="Munnar">
      <div class="destination-info">
          <h3>Munnar</h3>
      </div>
  </div>
  <div class="destination-card">
      <img src="../../../assets/images/Lakshadweep Tour _ The Ultimate Guide to Tour Packages.jpeg" alt="Lakshadweep">
      <div class="destination-info">
          <h3>Lakshadweep</h3>
      </div>
  </div>
  <div class="destination-card">
      <img src="../../../assets/images/Golden Temple.jpeg" alt="Amrister">
      <div class="destination-info">
          <h3>Amrister Golden Temple</h3>
      </div>
  </div>
  <div class="destination-card">
      <img src="../../../assets/images/🏯🌱.jpeg" alt="Coorg">
      <div class="destination-info">
          <h3>Coorg</h3>
      </div>
  </div>
  <div class="destination-card">
      <img src="../../../assets/images/Jama Masjid.jpeg" alt="Jama Masjid">
      <div class="destination-info">
          <h3>Jama Masjid</h3>
      </div>
  </div>
  <div class="destination-card">
      <img src="../../../assets/images/Ooty.jpeg" alt="Ooty">
      <div class="destination-info">
          <h3>Ooty</h3>
      </div>
  </div>
  <div class="destination-card">
      <img src="../../../assets/images/Red Fort Complex.jpeg" alt="Delhi Red Fort">
      <div class="destination-info">
          <h3>Delhi Red Fort</h3>
      </div>
  </div>
  <div class="destination-card">
      <img src="../../../assets/images/Howrah Bridge.jpeg" alt="Hawrah Bridge">
      <div class="destination-info">
          <h3>Hawrah Bridge</h3>
      </div>
  </div>
  <div class="destination-card">
      <img src="../../../assets/images/Rokeby Villas, Mussoorie - Copy - Copy.jpeg" alt="Musoorie">
      <div class="destination-info">
          <h3>Musoorie</h3>
      </div>
  </div>
  
  <div class="destination-card">
      <img src="../../../assets/images/Pondicherry.jpeg" alt="Pondicherry">
      <div class="destination-info">
          <h3>Pondicherry</h3>
      </div>
  </div>
  <div class="destination-card">
      <img src="../../../assets/images/Taj Hotels.jpeg" alt="Mumbai">
      <div class="destination-info">
          <h3>Mumbai</h3>
      </div>
  </div>
  <div class="destination-card">
      <img src="../../../assets/images/My Varkala Travel Guide_ The Best Places to Visit, Stay and Eat - Global Gallivanting Travel Blog - Copy (2).jpeg" alt="Varkala">
      <div class="destination-info">
          <h3>Varkala</h3>
      </div>
  </div>
  <div class="destination-card">
      <img src="../../../assets/images/The Best things to do in Dalhousie, Himachal - The Stupid Bear.jpeg" alt="Dalhousie">
      <div class="destination-info">
          <h3>Dalhousie</h3>
      </div>
  </div>
  <div class="destination-card">
      <img src="../../../assets/images/Wayanad is more than just tea garden.jpeg" alt="Wayanad">
      <div class="destination-info">
          <h3>Wayanad</h3>
      </div>
  </div>
  <div class="destination-card">
      <img src="../../../assets/images/bengaluru iskon temple.jpeg" alt="Bangalore">
      <div class="destination-info">
          <h3>Bangalore</h3>
      </div>
  </div>
  <div class="destination-card">
      <img src="../../../assets/images/Jodhpur Blue City.jpeg" alt="Jodhpur Blue City">
      <div class="destination-info">
          <h3>Jodhpur Blue City</h3>
      </div>
  </div>
  <div class="destination-card">
      <img src="../../../assets/images/Gadisar lake.jpeg" alt="Rajasthan">
      <div class="destination-info">
          <h3>Rajasthan</h3>
      </div>
  </div>
  <div class="destination-card">
      <img src="../../../assets/images/Visit Hyderabad.jpeg" alt="Charminar">
      <div class="destination-info">
          <h3>Charminar</h3>
      </div>
  </div>
  <div class="destination-card">
      <img src="../../../assets/images/chennai.jpeg" alt="Marina Beach">
      <div class="destination-info">
          <h3>Marina Beach</h3>
      </div>
  </div>

 
      <div class="destinations">
          <div class="destination-card">
            <img src="../../../assets/images/Kochi Private Tour_ Kerala Backwater Houseboat Day Cruise in Aleppey - Copy.jpeg" alt="Kochi">
            <div class="destination-info">
              <h3>Kochi</h3>
            </div>
          </div>
        
          <div class="destination-card">
            <img src="../../../assets/images/Mysore Palace, Karnataka Guide.jpeg" alt="Mysore Palace">
            <div class="destination-info">
              <h3>Mysore Palace</h3>
            </div>
          </div>
        
          <div class="destination-card">
            <img src="../../../assets/images/Zostel Kodaikanal.jpeg" alt="Kodaikanal">
            <div class="destination-info">
              <h3>Kodaikanal</h3>
            </div>
          </div>
        
          <div class="destination-card">
            <img src="../../../assets/images/Sai baba 🙏 - Copy.jpeg" alt="Shirady">
            <div class="destination-info">
              <h3>Shirady</h3>
            </div>
          </div>
        
          <div class="destination-card">
            <img src="../../../assets/images/27 Amazing Pictures of Madurai Meenakshi Amman Temple.jpeg" alt="Madurai">
            <div class="destination-info">
              <h3>Madurai</h3>
            </div>
          </div>
        
          <div class="destination-card">
            <img src="../../../assets/images/Kaziranga National Park.jpeg" alt="Kaziranga National Park">
            <div class="destination-info">
              <h3>Kaziranga National Park</h3>
            </div>
          </div>
        
        <div class="destination-card">
          <img src="../../../assets/images/Chandigargh.jpeg" alt="Chandigargh">
          <div class="destination-info">
            <h3>Chandigargh</h3>
          </div>
        </div>
        <div class="destination-card">
          <img src="../../../assets/images/neil.jpeg" alt="Neil Island">
          <div class="destination-info">
            <h3>Neil Island</h3>
          </div>
        </div>
      <div class="destination-card">
          <img src="../../../assets/images/Jog Falls, Karnataka.jpeg" alt="Jog Falls">
          <div class="destination-info">
            <h3>Jog Falls</h3>
          </div>
        </div>
        <div class="destination-card">
          <img src="../../../assets/images/Hulikere Chikmagalur.jpeg" alt="Chikmagalur">
          <div class="destination-info">
            <h3>Chikmagalur</h3>
          </div>
        </div>
        <div class="destination-card">
          <img src="../../../assets/images/Auli, Uttarakhand_.jpeg" alt="Auli">
          <div class="destination-info">
            <h3>Auli</h3>
          </div>
        </div>
      <div class="destination-card">
          <img src="../../../assets/images/Kavualedurga Fort, Shimoga, Karnataka.jpeg" alt="Shimoga">
          <div class="destination-info">
            <h3>Shimoga</h3>
          </div>
        </div>
      
      <div class="destination-card">
          <img src="../../../assets/images/Pamban Bridge.jpeg" alt="Rameshwaram">
          <div class="destination-info">
            <h3>Rameshwaram</h3>
          </div>
        </div>
    
      <div class="destination-card">
          <img src="../../../assets/images/Moryya re!! 🐘 🐀.jpeg" alt="Pune">
          <div class="destination-info">
            <h3>Pune</h3>
          </div>
        </div>
        
      
      <div class="destination-card">
          <img src="../../../assets/images/Vizag photography.jpeg" alt="Visakhapatnam">
          <div class="destination-info">
            <h3>Visakhapatnam</h3>
          </div>
        </div>
        <div class="destination-card">
          <img src="../../../assets/images/Dharamshala__ himachal pradesh.jpeg" alt="Dharamshala">
          <div class="destination-info">
            <h3>Dharamshala</h3>
          </div>
        </div>
        <div class="destination-card">
          <img src="../../../assets/images/Heevan Pahalgam.jpeg" alt="Pahalgam">
          <div class="destination-info">
            <h3>Pahalgam</h3>
          </div>
        </div>
        <div class="destination-card">
          <img src="../../../assets/images/Places to Visit in Khandala_ Tourist Places in Khandala, Khandala Tourism, Best Holiday Destinations & Weekend Getaways from Khandala - Nativeplanet.jpeg" alt="Khandala">
          <div class="destination-info">
            <h3>Khandala</h3>
          </div>
        </div>
        <div class="destination-card">
          <img src="../../../assets/images/Kovalam.jpeg" alt="Kovalam">
          <div class="destination-info">
            <h3>Kovalam</h3>
          </div>
        </div>
        <div class="destination-card">
          <img src="../../../assets/images/How to Reach Yercaud by Train, Flight, Bus or Car_.jpeg" alt="Yercaud">
          <div class="destination-info">
            <h3> Yercaud</h3>
          </div>
        </div>
        
      
        <div class="destinations">
          <div class="destination-card">
              <img src="../../../assets/images/Qutub Minar and Complex.jpeg" alt="Qutub Minar">
              <div class="destination-info">
                  <h3>Qutub Minar</h3>
              </div>
          </div>
      
          <div class="destination-card">
              <img src="../../../assets/images/gate way of india.jpeg" alt="Gateway of India">
              <div class="destination-info">
                  <h3>Gateway of India</h3>
              </div>
          </div>
      
          <div class="destination-card">
              <img src="../../../assets/images/Kalpa.jpeg" alt="Indoor Snow Kingdom">
              <div class="destination-info">
                  <h3>Indoor Snow Kingdom</h3>
              </div>
          </div>
          <div class="destination-card">
              <img src="../../../assets/images/Sikkim.jpeg" alt="Sikkim">
              <div class="destination-info">
                  <h3>Sikkim</h3>
              </div>
          </div>