<body>



  <div class="signup-container">
      <h2><b>Sign In</b></h2>
      <form (ngSubmit)="signin()">
          <div class="input-group">
              <label for="username"><b>Username :)</b></label>
              <input type="text" id="username" [(ngModel)]="username" name="username" placeholder="Username">
          </div>
          <div class="input-group">
              <label for="password"><b>Password :)</b></label>
              <input type="password" id="password" [(ngModel)]="password" name="password" placeholder="Password">
          </div>
          <button routerLink="/home/home" class="btn"><b>Sign in</b></button>
      </form>
  </div>
  <img src="../../../assets/images/flight.png" alt="Flying" class="flight" [@flyInOut] />
 
</body>
